.gaming__card {
  @include flexCenterStart();
  width: auto;
  height: auto;
  background-color: $card;
  border-radius: $border_radius;
}


.gaming__card__text {
  padding-left: $M;
  padding-right: $M;
  padding-bottom: $M;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
