.gaming__card {
  @include flexCenterStart();
  width: auto;
  height: auto;
  background-color: $card;
  border-radius: $border_radius;
}


.friend__card {
  box-shadow: $small_card_box_shadow;
  height: 75px;
  margin: $XS 0;
}

.gaming__card__text {
  padding-left: $M;
  padding-right: $M;
  padding-bottom: $M;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.special__offers__card {
  width: auto;
  height: auto;
  background-color: $card;
  border-radius: $border_radius;
}

.special__offers__card__text {
  padding-left: $S;
  padding-right: $S;
  padding-bottom: $S;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}