.gaming__card {
  @include flexCenterStart();
  width: auto;
  height: auto;
  background-color: $card;
  border-radius: $border_radius;
  box-shadow: $small_card_box_shadow;
}


.friend__card {
  box-shadow: $small_card_box_shadow;
  height: 75px;
  margin: $XS 0;
}

.gaming__card__text {
  padding-left: $M;
  padding-right: $M;
  padding-bottom: $M;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.special__offers__card {
  width: auto;
  height: auto;
  background-color: $card;
  border-radius: $border_radius;
  box-shadow: $small_card_box_shadow;
}

.special__offers__card__text {
  padding-left: $S;
  padding-right: $S;
  padding-bottom: $S;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.popular__streaming__card {
  width: auto;
  height: auto;
  background-color: $card;
  border-radius: $border_radius;
  box-shadow: $small_card_box_shadow;
}

.popular__streaming__card__text {
  padding-left: $S;
  padding-right: $S;
  padding-bottom: $S;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}


.news__article__text {
  padding: $L;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}



.card-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
}


.card-list::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}


.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 400px;
  min-width: 250px;
}


.card {
  border-radius: $border_radius;
  background-color: $background;
  box-shadow: -1rem 0 1.3rem #000;

  transition: .2s;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover h3 {
  color: $site_color;
}

.card:hover~.card {
  transform: translateX(130px);
}


.card:not(:first-child) {
  margin-left: -130px;
}