.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

{
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all 0.1s ease;
}

.slide-fade-leave-active {
    transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.welcome-enter {
    opacity: 0;
}

.welcome-enter-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.welcome-leave-active,
.welcome-leave-to {
    opacity: 0;
}

.slide-fade-enter,
.slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */

{
    transform: translateX(1000px);
    opacity: 0;
}

.bounce-enter-active {
    animation: bounce-in 0.5s;
}

.bounce-leave-active {
    animation: bounce-in 0.5s reverse;
}

.card-hover {
  transition: all 400ms;
}

.card-hover:hover {
  transform: scale(1.07);
  cursor: pointer;
}