// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */

html {
  background: $background;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */


 
/**
 * Basic styles for links
 */
a {
  color: $text_color;
  text-decoration: none;

  /* @include on-event {
    color: $text-color;
    text-decoration: underline;
  } */
}

li {
  list-style-type: none;
}

i {
  color: $text_color;
  font-size: 18px;
  cursor: pointer;
}

i:hover {
  color: $site_color;
}

.wrapper {
  margin: $XL $XXL;
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    margin: $L
  }

}

