h1,
h2,
h3,
h4 {
  letter-spacing: 1px;
}

h1,
h2,
h4 {
  font-weight: 400;
}

h1 {
  font-size: 36px;
  margin: $L;
}

h2 {
  margin: $L;
  font-size: 24px;
}

h3 {
  margin: $M;
  font-weight: 700;
  font-size: 18px;
}

h4 {
  margin: $M;
  font-size: 18px;
}
