h1,
h2,
h3,
h4 {
  color: $text-color;
  font-family: $title_font;
  letter-spacing: 1px;
}

h1,
h2,
h4 {
  font-weight: 400;
}

h1 {
  color: blue;
  font-size: 36px;
  margin: $L;
}

h2 {
  margin: $L;
  font-size: 24px;
}

h3 {
  margin: $M;
  font-weight: 700;
  font-size: 18px;
}

h4 {
  margin: $M;
  font-size: 18px;
}

p {
  font-family: $body_font;
  color: $text-color;
  margin: $M;
  size: 12;
}
