// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$title_font: 'Hind Siliguri', sans-serif;

/// Button font
/// @type List
$button_font: 'Hind Siliguri', sans-serif;

/// Body font family
/// @type List
$body_font: 'Roboto', sans-serif;

// COlORS
// Black
/// @type Color
$background: #1a1f23 !default;
$black: #1a1f23;

/// Cards
/// @type Color
$card: #23292f;
$dark: #23292f !default;

/// Site color
/// @type Color
$site_color: #00f5e0 !default;

/// Text color
/// @type Color
$text_color: #f9f9f9 !default;
$white: #f9f9f9;

/// Secondary text color
/// @type Color
$secondary_text_color: #65696d !default;
$grey: #65696d;

// Sizes
/// @type Size
$XXL: 180px;
$XL: 48px;
$L: 32px;
$M: 24px;
$S: 12px;
$XS: 6px;

// Border Radius
$border_radius: 3px;

// Shadows
$button_shadow: 4px 6px 10px rgba(0, 0, 0, 0.7);
$nav_box_shadow: (0px 4px 15px rgba(0, 0, 0, 0.3));
$footer_shadow: (0px -4px 15px rgba(0, 0, 0, 0.3));
$small_card_box_shadow: (2px 4px 4px rgba(0, 0, 0, 0.25));




/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
